::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 255, 0.747);
    border-radius: 30px;
    width: 10px;
}
::-webkit-scrollbar-track-piece {
    background-color: rgba(127, 255, 212, 0);
    width: 10px;
}

::-webkit-scrollbar {
    background-color: rgba(85, 85, 88, 0.486);
    border-radius: 30px;
    width: 10px;
}


body {
    font-family: 'Roboto', sans-serif;
    background-color:#121539;
    height: 2500px;
    color: white;
    margin: 0;
    overflow-x: hidden;
}

nav {
    
    display: flex;
    flex-direction: column;
    background-color: #3b3f8b;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 700000;
    margin: 240px 0 0 8px ;
    padding: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    

}


nav a {
    text-decoration: none;
    cursor: grab;
    width: 50px;
    height: 50px;
    background-color: #453cc5;
    border-radius: 15px;
    align-items: center;
    margin-top: 5px;
    

}

nav a:hover {
    background-color: rgba(52, 52, 228, 0.459);
    transition: 300ms;
}

.page1{
    background-image: url("image/untitled4.png");
    align-items: center;
    padding-top: 320px;
    padding-bottom: 230px;
    background-size: cover;
    background-position: center;
  
} 
.texte1 {
  animation: animated-text 4s steps(16) 1s 1 normal both,
animated-cursor 500ms steps(16) infinite normal;
  border-right: solid 3px rgba(0,255,0,.75);
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;  
  font-size: 28px;
  color: rgb(255, 255, 255);
  /* margin-left:33vw; */
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Rowdies', cursive;
  
  
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 460px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(255,255,255,.70);}
  to{border-right-color: transparent;}
}
.texte1,.texte2 {
     text-align: center;
    font-size: 20px;
}
.page1 .texte1{
    font-size: 80px;
    
    
      
}
.page1 .texte2 {
    
    margin-top: -50px;
}

#logo1 {
    font-size: 50px;
    text-decoration: none;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    
}

.partie2 img {
    z-index: 100000;
    width: 25vw;
    height: auto;
    margin-left: -5px;
    transform: translateY(0px);
    border-radius: 0 30px 0 30px;
}

.produit1,.produit2,.produit3 {
    display: flex;
 
}


.page1{
    background-image: url("image/untitled4.png");
    align-items: center;
    padding-top: 320px;
    padding-bottom: 230px;
    background-size: cover;
    
} 
.selection {
  
    border-radius: 20px;
    width: 175px;
    height: 80px;
    align-items: center;
    display: flex;
  }
  
  .select{
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
  }
  
  .selection{
    
    background: #07182E;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
  }
  
  .selection a {
    z-index: 1;
    color: white;
    font-size: 2em;
  }
  
  .selection::before {
    content: '';
    position: absolute;
    width: 200px;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    height: 130%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
  }
  
  @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .selection::after {
    content: '';
    position: absolute;
    background: #07182E;
    ;
    inset: 5px;
    border-radius: 15px;
  }  
  /* .card:hover:before {
    background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
    animation: rotBGimg 3.5s linear infinite;
  } */

.france {
    width: 60px;
    height: 40px;
    margin: 10px;
    margin-left: -5px;
}

.amerique {
    width: 49px;
    height: 37px;
}
@media all and (max-width: 850px) {
    .selection {
        display: flex;
        flex-direction: column;
        width: 80px;
        height: 140px;
        align-items: center;

    }
    .france {
        
        
        margin-top: -10px;
        margin-left: 10px;
    }
    
    .amerique {
        width: 49px;
        height: 37px;
    }
    
  
  }

  .page2 {
    margin-left: 80px;
  }
  

  .produit1 .partie1,.produit2 .partie1,.produit3 .partie1 {
    margin: auto;
    height: 400px;
	  background: #121539;
    box-shadow: inset 6px 6px 17px #070817,
            inset -6px -6px 17px #1d225b;
	  border-radius: 5px;
	  position: relative;
	  z-index: 1;
	  background: inherit;
	  overflow: hidden;
    margin-bottom: 20px;
    margin-right: 30px;
    border-radius: 20px;
	
  }
  .produit1 .partie1 h1,.produit2 .partie1 h1,.produit3 .partie1 h1 {
    margin-left: 20px;
  }
  .produit1 .partie1 p,.produit2 .partie1 p,.produit3 .partie1 p {
    margin-left: 20px;
    font-family: 'Cabin', sans-serif;
  }

  .produit1 .partie2,.produit2 .partie2,.produit3 .partie2 {
    margin: 10px;
    
	
  }
  

  .produit1 button,.produit2 button,.produit3 button {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 255, 0.397);
    border-style: inherit;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    color:rgb(255, 255, 255); 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 700px;
    margin-top: 100px;
    box-shadow: 0 0 40px 0 rgba(46, 179, 231, 0.4);	
    font-size: 18px;
    cursor: grab;
  }

  @media all and (max-width: 1300px) {
    .produit1 button,.produit2 button,.produit3 button{
      margin-left: 650px;
    }
  }

  @media all and (max-width: 1200px) {
    .produit1 button,.produit2 button,.produit3 button{
      margin-left: 550px;
    }
  }
  @media all and (max-width: 1000px) {
    .produit1 button,.produit2 button,.produit3 button{
      margin-left: 450px;
    }
  }
  @media all and (max-width: 900px) {
    .produit1 button,.produit2 button,.produit3 button{
      margin-left: 400px;
    }
  }
  @media all and (max-width: 700px) {
    .produit1 button,.produit2 button,.produit3 button{
      margin-left: 300px;
    }
  }
  @media all and (max-width: 500px) {
    .produit1 button,.produit2 button,.produit3 button{
      margin-left: 150px;
    }
  }
  @media all and (max-width: 300px) {
    .produit1 button,.produit2 button,.produit3 button{
      margin-left: 50px;
    }
  }
